{% extends '@!EasyAdmin/layout.html.twig' %}

    {% block main %}
<p>Bienvenue sur le pannel Admin, c'est ici que vous allez pouvoir créer, éditer et supprimer toutes les catégories présentes sur l'application web.</p>
        <a href="{{ path('pt_home') }}"><button type="button" class="btn btn-outline-primary">Retourner à l'accueil</button></a>
    {% endblock %}

